<h1 align="center">Index</h1>
<div class="container well">
    <% @articles.each do |t| %>
    <div class="container">
        <hr>
        <div class="row col-xs-12">
            <div class="col-xs-1">
                <%= link_to "#{t.id}", article_path(t) %>
            </div>
            <div class="col-xs-2">
                <%= link_to "#{t.title}", article_path(t) %> </br>
                <small>
                    <%= t.user.username if t.user %> </br>
                    <%= time_ago_in_words(t.created_at) %>
                </small>
            </div>
            <div class="col-xs-7">
                <%= truncate(t.description, length: 200) %>
            </div>
            <div class="col-xs-1">
                <%= link_to 'Edit', edit_article_path(t), class: "btn btn-xs btn-info" %>
            </div>
            <div class="col-xs-1">
                <%= link_to 'Delete', article_path(t), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
            </div>
        </div>
    </div>
    <% end %>  
</div>
<div align="left">
    <%= link_to "Create new Article!", new_article_path, class: "btn btn-sm btn-success" %>
</div>